.card {
  background-color: #fff;   
  text-decoration: none;
  padding: 20px;
  margin: 0 0 8px 0;
  border-radius: 3px;
  color: #4d4d4d;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  white-space: normal;
  word-wrap: break-word;
  list-style: none;
  border-bottom: solid 1px #ccc;
  transition: all;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

.card:hover{
  background-color: #ddd;
}

.card textarea {
    display: inherit;
    width: 70%;
    border: none;
    line-height: 18px;
    font-size: 14px;
    resize: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 18px;
    margin: -2px;
}

.pointer {
  cursor: pointer;
}

.close {
  position: relative;
}

.body {
  min-height: 130px;
}

.marginBottom {
  margin-block-end: 12px;
}

.marginBottom20 {
  margin-block-end: 20px;
}

.marginTop {
  margin-top: 5px;
}

