<div class="w3-container">
    <li class="card" [attr.card-id]="card._id" [attr.card-order]="card.order" (click)="editCard()">
        <span [innerHtml]="card.title" [style.display]="editingCard ? 'none' : ''">
        </span>
        <textarea [style.display]="editingCard ? '' : 'none' " (keydown)="blurOnEnter($event)" (blur)="updateCard()" [(ngModel)]="card.title"></textarea>
        <i class="glyphicon glyphicon-trash close" (click)="deleteCard()"></i>
        <i class="glyphicon glyphicon-edit close" (click)="openModal(card)"></i>
    </li>

    <!-- <div *ngIf="showModal" id="modal-form" class="w3-modal">
        <div class="w3-modal-content">
            <header class="w3-container w3-blue">
                <h2>{{card.title}}</h2>
                <span class="w3-button w3-display-topright" (click)="closeModal()">&times;</span>
            </header>
            <div class="w3-container">
                <h3>Card Description</h3>
                <p>Add Comments</p>
                <input type="text" name="comment" [(ngModel)]="newComment" (blur)="addComment()">
                <span>Add</span>
                <div *ngIf="card.comments?.length">
                    <div *ngFor="let comment of card.comments">
                        <span [innerHtml]="comment"></span>
                    </div>
                    <span></span>
                </div>
            </div>
            <footer class="w3-container w3-blue">
                <button class="center" (click)="closeModal()">Close</button>
            </footer>
        </div>
    </div> -->
</div>

<div class="w3-card-4 marginBottom20" *ngIf="showModal">
    <header class="w3-container w3-center w3-blue">
        <h2>{{card.title | titleCase}}</h2>
    </header>
    <div class="w3-container body">
        <h3>Card Description</h3>
        <p>Add Comments</p>
        <input type="text" class="col-sm-9" name="comment" [(ngModel)]="newComment" (blur)="addComment()">
        <button (click)="clearComment()">Add</button>

        <div *ngIf="card.comments?.length">
            <p class="marginTop"><b>Comments</b></p>
            <div *ngFor="let comment of card.comments">
                <span [innerHtml]="comment"></span>
            </div>
            <span></span>
        </div>
        <div class="marginBottom"></div>
    </div>
    <button class="w3-button w3-block w3-dark-grey" (click)="closeModal()">Close</button>
</div>