header {
  position: fixed;
  width: 100%;
  top: 0;
}


nav {
  background-color: #70592d38;
  padding: 5px;
  height: 45px;
}

nav a {
  float: left;  
  color: white; 
}

nav a.btn {
  background-color:#4590BC;
  width: 80px;
}

nav a.logo{
  line-height: 30px;
  font-weight: bold;
  color:rgb(6, 48, 73);
  width: calc(100% - 200px);
  text-align: center;
  /*margin-top: -30px;*/
}


#content-wrapper {
  width: 100%;
  display: block;
  height: calc(100% - 40px);
  /*overflow: auto;*/
  padding-top: 40px;
}
