<div class="column" 
    [attr.column-id]="column._id"
    [attr.column-order]="column.order">
    <div class="column-header">
        <h4 [innerHtml]="column.title"
            [style.display]="editingColumn ?'none' : '' "
            (click)="editColumn()" ></h4>
        <input  
            [style.display]="editingColumn ?'' : 'none' "
            (blur)="updateColumnOnBlur()"
            (keyup)="addColumnOnEnter($event)"
            [(ngModel)]="column.title" />
    </div>
    <ul class="card-list" [attr.column-id]="column._id">
        <li *ngFor="let card of cards | where : { columnId: column._id } | orderBy : 'order'">
            <board-card [card]="card" (cardDelete)="deleteCard($event)"></board-card>
        </li>
    </ul>
        <div class="add-card" 
            (click)="enableAddCard()" >
            <span [style.display]="addingCard ? 'none' : ''" >
                Add a card...
            </span>
            
            <input  
            [style.display]="addingCard ? '' : 'none' "
            [attr.autofocus]="addingCard"
            (keyup)="addCardOnEnter($event)"
            (blur)="addCardOnBlur()"
            [(ngModel)]="addCardText" />
        </div>
</div>