
#main {
  min-width: 100%;
  /*height: calc(100% - 90px);*/
  overflow: hidden;
}

.board-title {
  margin-left: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.board-title span {
  font-size: 18px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  cursor: hand;
}

.board-title input {
    margin: -3px -2px;
    font-size: 18px;
    font-weight: bold;
}

.add-column {
  width: 280px;
  height: 40px;
  background-color: #1a849e;
  border-radius: 3px; 
  width: 270px;
  margin-left: 10px;
  padding: 2px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
  cursor: hand;
}

.add-column span {
	color: rgba(255,255,255,.7);
	line-height: 40px;
	vertical-align: middle;
	padding: 7px;
	font-size: 14px;
  cursor: pointer;
  cursor: hand;
}

.add-column input {	
	width: 100%;
	height: 100%;
	font-weight: 700;
	border: none;
	line-height: 18px;
	padding: 3px 5px 4px 5px;
}