
.boards-wrapper {
  padding: 2em;
  background-color: white;
  min-height: calc(100% - 4em);
  display: inline-block;
}

h2 { 
  color: #333;
  font-weight: 700; 
  /*font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif; */
  line-height: 20px;
  font-size: 12pt;
}

.board {
  background-color: rgb(185, 168, 187);
  height: 72px;
  width: 280px;
  color: white;
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
  text-align: left;
  padding: 9pt 8px;
  border-radius: 3px;
  text-decoration: none;
}

.board .title {
  font-weight: 700; 
  /*font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif; */
  line-height: 20px;
  font-size: 12pt;
}

.add-board {
  background-color: #e2e4e6;
  color: #8c8c8c;
}