<div class="boards-wrapper">
<h2>Boards</h2>
<div id="boards">
  <a class="board" *ngFor="let board of boards" [routerLink]="['/board', board._id]">
    <span class="title">{{board?.title}}</span>
  </a>
  <a href="#" class="board add-board" (click)="addBoard()">
    <span class="title">Create a new board...</span>
  </a>
</div>
</div>