/* Master Styles */
body { 
  margin: 0;
  background-color: rgb(147, 176, 192); 
  height: 100%;
  width: 100%;
  position: absolute;
}
body, input[text], button { 
  color: #333; 
}
a {
  cursor: pointer;
  cursor: hand;
}

/* everywhere else */
* { 
  font-family: Arial, Helvetica, sans-serif; 
}


.btn {
  line-height: 14px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  display: block;
  padding: 8px;
}


li.card-placeholder {
  list-style: none;
  width: calc(100% - 5px);
  height: 30px;
  background-color: #ddd;
  border: dashed 4px #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.ui-sortable-helper {
  /*transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: ease-in;*/
  transform: rotate(5deg);
  opacity: 0.9;
}

.column-placeholder {
      width: 280px;
    height: 280px;
    background-color: #0067A3;
  border-radius: 3px; 
  width: 270px;
  margin-left: 10px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

#main > div {
  float: left;
}